@model Stor_System.Models.Inventory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 style="font-size: 2.188rem;">Delete Inventory: @Model.InventoryName</h2>
                    </div>
                    <div class="col-3">
                        <a href="~/Inventories/index" style="float: right;"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                    </div>
                </div>

                <div style="margin-bottom: 25px;">
                    <a href="/Home/index" class="card-description" style="color: #b66dff;"><code>Dashboard</code> </a> /
                    <a href="/Inventories/index" class="card-description" style="color: #b66dff;"><code>Inventories</code> </a> /
                    <a href="/Inventories/Delete/@Model.InventoryId" class="card-description" style="color: #b66dff;"><code>Delete Inventory: @Model.InventoryName</code> </a>
                </div>




                <div class="row g-4">
                    <div class="col-sm-12 col-xl-10" style="margin-right: auto; margin-left: auto; text-align:center">
                        <div class="rounded h-100 p-4" style="border-style:solid">
                            <div class="row inputfieldRow">
                                <img src="~/a_stor_system/assets/images/icons/warning.png" style="width: 240px;margin-right: auto;margin-left: auto;" />
                                <h3>Are You Sure You Want To Delete The Inventory</h3>
                                <h2>@Html.DisplayFor(model => model.InventoryName)</h2>


                                <form asp-action="Delete" style="margin-top:35px">
                                    <input type="hidden" asp-for="InventoryId" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="index"> <input type="button" value="No" class="btn btn-secondary" style="background-color: green; width: 77px;" /></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

