@model Stor_System.Models.Inventory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 style="font-size: 2.188rem;">Edit Inventory: @Model.InventoryName</h2>
                    </div>
                    <div class="col-3">
                        <a href="~/Inventories/index" style="float: right;"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
                    </div>
                </div>

                <div style="margin-bottom: 25px;">
                    <a href="/Home/index" class="card-description" style="color: #b66dff;"><code>Dashboard</code> </a> /
                    <a href="/Inventories/index" class="card-description" style="color: #b66dff;"><code>Inventories</code> </a> /
                    <a href="/Inventories/Edit/@Model.InventoryId" class="card-description" style="color: #b66dff;"><code>Edit Inventory: @Model.InventoryName</code> </a>
                </div>



                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="InventoryId" />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Inventory Name</label>
                                    <input asp-for="InventoryName" class="form-control" />
                                    <span asp-validation-for="InventoryName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input asp-for="InventoryLocation" class="form-control" />
                                    <span asp-validation-for="InventoryLocation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Google Map Link</label>
                                    <input asp-for="GMapLink" class="form-control" />
                                    <span asp-validation-for="GMapLink" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input asp-for="InventoryPhone" class="form-control" />
                                    <span asp-validation-for="InventoryPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




