<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-10" style="margin-right: auto; margin-left: auto; text-align:center">
            <div class="rounded h-100 p-4" style="margin-top: 6%;background-color: white;  border-style: solid;">
                <div class="row inputfieldRow">
                    <img src="~/A_Stor_System/assets/images/Icons/warning.png" style="width: 240px;margin-right: auto;margin-left: auto;" />
                    <h1 style="color: #c92f39;">This Process Cannot Be Completed At This Time</h1>
                    <h3>Try Again Later</h3>
                    <p>Or</p>
                    <h4>Contact The Technical Support Team</h4>
                    <h4>0097455376112</h4>

                </div>
            </div>
        </div>
    </div>
</div>
