<h1><span id="notificationCounter2"></span></h1>





<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/signalr.js"></script>
<script src="~/js/notification_db.js"></script>

<script src="~/js/signalr.js"></script>
<script src="~/js/signalr.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/userscount.js"></script>
